.App {
  text-align: center;
}

.navlinks {
  margin-left: 10px;
  display: "flex"
}

.logo {
  text-decoration: none;
  color: white;
  flex-grow: "1"
}

.link {
  text-decoration: none;
  color: white;
  font-size: "20px";
  margin-left: 20px;
  padding: 7px;
}

.link:hover, .active {
  border-radius: 11px;
  background-color: rgb(127, 178, 255);
}

.link:hover {
  transition-duration: 400ms;
}

.create-player-form, .create-game-form, .game-container {
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
  max-width: 35%;
  margin: 0 auto; 
  margin-top: 10%;
}

.create-player-form:hover, .create-game-form:hover, .game-container:hover {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  transition-duration: 200ms;
}

.create-game-form {
  max-width: 60%;
  padding: 15px;
}

.game-container {
  max-width: 80%;
  padding: 20px;
}

.player-statistics-container {
  max-width: 100%;
  padding: 10px;
  margin-top: 5%
}

.text-input {
  max-width: 55%;
}

.button-container {
  margin-bottom: 15px;
}

.add-player-button-container {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}

.add-player-button {
  width: 30%;
  margin-bottom: 10px;
}

.player-list-item {
  border-radius: 10px;
}

.player-list-item:hover {
  background-color:rgba(255, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 200ms;
}

.players-table-container {
  margin-top: 5%;
  padding: 5%;
}

.shot-button-group {
  margin-top: 10px;
  padding: 5px;
}

.player-scores {
  margin-top: 10px;
  padding: 5px;
}

.possible-endings {
  margin-top: 15px;
  padding: 3px;
  overflow: auto;
  max-height: 200px;
}