.App {
  text-align: center;
}

.navlinks {
  margin-left: 10px;
  display: "flex"
}

.logo {
  text-decoration: none;
  color: white;
  flex-grow: "1"
}

.link {
  text-decoration: none;
  color: white;
  font-size: "20px";
  margin-left: 20px;
  padding: 7px;
}

.link:hover, .active {
  border-radius: 11px;
  background-color: rgb(127, 178, 255);
}

.link:hover {
  transition-duration: 400ms;
}