.App {
  text-align: center;
}

.navlinks {
  margin-left: 10px;
  display: "flex"
}

.logo {
  text-decoration: none;
  color: white;
  flex-grow: "1"
}

.link {
  text-decoration: none;
  color: white;
  font-size: "20px";
  margin-left: 20px;
  padding: 7px;
}

.link:hover, .active {
  border-radius: 11px;
  background-color: rgb(127, 178, 255);
}

.link:hover {
  transition-duration: 400ms;
}

.create-player-form {
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
  max-width: 35%;
  margin: 0 auto; 
  margin-top: 5%;
}

.create-player-form:hover {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  transition-duration: 200ms;
}

.text-input {
  max-width: 55%;
}

.button-container {
  margin-bottom: 15px;
}